<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<title>Logi</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Logi systemowe</h2>

<table class="table">
<tr>
    <th>ID</th>
    <th>User</th>
    <th>Akcja</th>
    <th>Data</th>
</tr>

{% for l in logi %}
<tr>
    <td>{{ l[0] }}</td>
    <td>{{ l[1] }}</td>
    <td>{{ l[2] }}</td>
    <td>{{ l[3] }}</td>
</tr>
{% endfor %}

</table>

</div>

</body>
</html>
